In [7]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv(r"D:\campusx_dsmp2\9. MLOps revisited\cars24_mlops_project\scraper\cars24_allCityIds_data.csv")

In [35]:
df.columns

Index(['appointmentId', 'maskedRegNum', 'cityId', 'listingPrice', 'carName',
       'make', 'model', 'variant', 'year', 'transmissionType', 'bodyType',
       'fuelType', 'ownership', 'registrationDate', 'cityRto', 'color',
       'odometer', 'emiDetails', 'modelGroup', 'oemServiceHistoryAvailable',
       'fitnessAge', 'features'],
      dtype='object')

#### data summary

- data extracted from Cars24 for all cities
- `appointmentId`: all appointment Ids could be used as unique identification number
- `maskedRegNum`: delete since we already have cityrto column for city info
- `cityId`: delete this as not much info
- `listingPrice`: target price
- `carname`: car name
- `make`: car company
- `model`: car model
- `variant`: variant
- `year`: year of registration
- `transmission`: contains dictionary, need to extract values
- `bodyType`: bodyType
- `fuelType`: fuelType
- `ownership`: ownership
- `registrationDate`: change this to datetime format
- `cityRto`: city info, map this with city
- `color`: color
- `odometer`: extract odometer reading
- `emiDetails`: expand this column for more information
- `modelGroup`: modelGroup
- `oemServiceHistoryAvailable`: delete this since no variance
- `fitnessAge`: fitnessAge
- `features`: features of car ( need to process them differently)

In [37]:
df.drop(columns=['maskedRegNum','cityId','oemServiceHistoryAvailable'], inplace=True)

In [43]:
df.sample(3)

,appointmentId,listingPrice,carName,make,model,variant,year,transmissionType,bodyType,fuelType,ownership,registrationDate,cityRto,color,odometer,emiDetails,modelGroup,fitnessAge,features
1906,13250943796,499000,Hyundai GRAND I10 NIOS,Hyundai,GRAND I10 NIOS,MAGNA AMT 1.2 KAPPA VTVT,2021,"{'value': 'Automatic', 'display': 'Auto'}",Hatchback,Petrol,1,1638316800000,UP32,White,"{'value': 85472, 'display': '85.47k km'}","{'cashDownPayment': 0, 'emiStartingValue': 975...",i10,15,"['RearAc', 'Bluetooth', 'ParkingAssist']"
6166,12281347794,1200000,MG HECTOR,MG,HECTOR,SHARP HYBRID 1.5 PETROL,2020,"{'value': 'Manual', 'display': 'Manual'}",SUV,Petrol,1,1580515200000,AP39,Red,"{'value': 28372, 'display': '28.37k km'}","{'cashDownPayment': 0, 'emiStartingValue': 228...",HECTOR,15,"['InfotainmentSystem', 'RearAc', 'Sunroof/Moon..."
1035,20021236744,1207000,MG HECTOR,MG,HECTOR,SMART 1.5 PETROL CVT,2022,"{'value': 'Automatic', 'display': 'Auto'}",SUV,Petrol,1,1659312000000,UP21,White,"{'value': 20263, 'display': '20.26k km'}","{'cashDownPayment': 0, 'emiStartingValue': 229...",HECTOR,15,"['InfotainmentSystem', 'RearAc', 'LeatherSeats..."

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7391 entries, 0 to 8059
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appointmentId     7391 non-null   object
 1   listingPrice      7391 non-null   int64
 2   carName           7391 non-null   object
 3   make              7391 non-null   object
 4   model             7391 non-null   object
 5   variant           7391 non-null   object
 6   year              7391 non-null   int64
 7   transmissionType  7391 non-null   object
 8   bodyType          7391 non-null   object
 9   fuelType          7391 non-null   object
 10  ownership         7391 non-null   int64
 11  registrationDate  7391 non-null   int64
 12  cityRto           7391 non-null   object
 13  color             7343 non-null   object
 14  odometer          7391 non-null   object
 15  emiDetails        7391 non-null   object
 16  modelGroup        7391 non-null   object
 17  fitnessAge        7391 non-null   int64
 18  features          7391 non-null   object
dtypes: int64(5), object(14)
memory usage: 1.1+ MB

In [45]:
df.isnull().sum()

appointmentId        0
listingPrice         0
carName              0
make                 0
model                0
variant              0
year                 0
transmissionType     0
bodyType             0
fuelType             0
ownership            0
registrationDate     0
cityRto              0
color               48
odometer             0
emiDetails           0
modelGroup           0
fitnessAge           0
features             0
dtype: int64

In [46]:
df.duplicated().sum()

0

#### export data

In [47]:
df.to_excel("cars24_v1.xlsx", index=False)